<div class="modal fade" id="CreateSupplier" tabindex="-1" role="dialog" aria-labelledby="MyModalLabal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
            <div class="modal-header bg-gray-light border-bottom border-primary border-2 py-2">
                <h5 class="modal-title my-0" id="OptionModelLabel"></h5>
                <button id="optionCancle" type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form id="createoption" class="needs-validation" method="dialog" novalidate>
                    <input hidden id="txtType" />
                    <input hidden id="txtSupplierId" />
                    <div id="ErrorMessage" class="row">
                        <div class="col-12">
                            <div class="alert alert-danger">
                                <i class="bx bx-info"></i><span>Phone number is Already Exist.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <label class="form-label">SupplierName<b class="text-danger">*</b></label>
                            <input type="text" id="txtname" class="form-control" name="txtname" placeholder="Enter Name." required />
                            <div class="valid-feedback">
                                LookGood!
                            </div>
                            <div class="invalid-feedback">
                                Please Type SupplierName.
                            </div>

                        </div>
                        <div class="col-sm-12 mb-3">
                            <label class="form-label">Phone-Number<b class="text-danger">*</b></label>
                            <input type="text" id="txtphone" name="txtPhone" class="form-control" placeholder="Enter Phone-Number." required />
                            <div class="valid-feedback">
                                LookGood!
                            </div>
                            <div class="invalid-feedback">
                                Please Type Phone-number.
                            </div>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <label for="txtaddress" class="control-label">Addess<b class="text-danger">*</b></label>
                            <textarea rows="5" id="txtAddress" name="address" class="form-control mb-2" placeholder="Enter Address." required></textarea>
                            <div class="valid-feedback">
                                LookGood!
                            </div>
                            <div class="invalid-feedback">
                                Please Type Address.
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button type="button" id="btnSubmit" class="btn btn-primary">Save</button>
                        <button type="button" id="btnCancle" class="btn btn-danger" data-dismiss="modal">Cancle</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>