@page
@model POS.Areas.Master.Pages.Supplier.IndexModel
@{
}
@section Styles {
    <link href="~/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-body">
        <div class="col-xl-6 col-lg-6 mb-lg-2 mb-2">
            <button id="btnCreate" type="button" class="btn btn-light"><i class="fa fa-plus-circle"></i>&nbsp;Create</button>
        </div>
        <table id="Mytable" class="table table-responsive nowrap w-100" cellspacing="0">
            <thead class="text-left bg-light">
                <tr>
                    <th>
                        SupplierID
                    </th>
                    <th>
                        SupplierName
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        UpdateDate
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<partial name="PartialScript" />

<!--Modal-->
<partial name="CreateSupplierModel" />
<partial name="_DeleteSupplierModal" />

<!--DataTable-->
<script src="~/datatables/js/jquery.datatables.min.js"></script>
<script src="~/datatables/js/datatables.bootstrap4.min.js"></script>
<!--validation-->
@* <script src="/assets/libs/parsleyjs/parsley.min.js"></script>
<script src="/assets/js/pages/form-validation.init.js"></script> *@
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

<script>
    var SupID;
    $(function () {
        var table = $('#Mytable').DataTable({
            ajax: '/api/Master/Data', 
            scrollY: '500px',        
            //scrollX : true,
           

            columns: [
                { data: 'supplierId' },
                { data: 'supplierName' },
                { data: 'address' },
                { data: 'phone' },
                { data: 'updateDate' },
                {
                    data: null,
                    render: function (row, type, data) {
                        return '<button type="button" class="btn btn-sm btn-outline-primary" id="' + row.supplierId + '" onclick="GetsupplierID(this)"><i class="fa fa-edit"></i>Edit</button> |   ' +
                            '<button type="button" class="btn btn-sm btn-outline-danger" id="' + row.supplierId + '" onclick="GetSupplierDelete(this)"><i class="fa fa-trash"></i>Delete</button>';

                    }
                }
            ]
        });

        $('#btnCreate').click(function () {
            $('#createoption').removeClass('was-validated');
            $('#txtType').val('Create');
            $('#OptionModelLabel').text('Create New Supplier');
            $('#CreateSupplier').modal('show');
            ResetItem();
        });

        $('#btnSubmit').click(function () {
            var SupplierId = $("#txtSupplierId").val()
            var SupplierName = $('#txtname').val();
            var Address = $('#txtAddress').val();
            var Phone = $('#txtphone').val();
            
            
            if ($('#txtType').val() == "Create") {
                var data = {
                    SupplierId: '0',
                    SupplierName: SupplierName,
                    Address: Address,
                    Phone: Phone,
                };
                if (SupplierName !== '' && Address !== '' && Phone !== '') {
                    $.ajax({
                        type: 'POST',
                        url: '/api/Master/create',
                        dataType: 'Json',
                        data: data,
                        success: function (data) {
                            $('#CreateSupplier').modal('hide');
                            ResetItem();
                            table.ajax.reload();
                        },
                        complete: function (data) {
                            table.ajax.reload();
                        },
                        error: function () {
                            alert("Error");
                        }
                    });
                }
                else {
                    $('#createoption').addClass('was-validated');
                }
            }
            else {
                if (SupplierName !== '' && Address !== '' && Phone !== '') {
                    var data = {
                        SupplierId: SupID,
                        SupplierName: SupplierName,
                        Address: Address,
                        Phone: Phone,
                    };
                    $('#CreateSupplier').modal('hide');
                    $.ajax({
                        type: 'PUT',
                        url: '/api/Master/supplier/edit',
                        dataType: 'json',
                        data: data,
                        success: function (data) {
                            $('#CreateSupplier').modal('hide');
                            ResetItem();
                            table.ajax.reload();
                        },
                        error: function () {

                        },
                        complete: function (data) {
                            table.ajax.reload();
                        }
                    });
                }
                else{
                    $('#createoption').addClass('was-validated');
                }
            }
           
        });

        $('#btnDeleteConfirm').click(function () {
            $('#DeleteSupplierModal').modal('hide');
            var id = $('#deletesupplier').val();
            console.log(id);
            $.ajax({
                url: '/api/Master/supplier/delete?supplierID=' + id,
                type: 'DELETE',
                dataType:'Json',
                success: function (data) { 
                    $('#DeleteSupplierModal').modal('hide');
                    table.ajax.reload();
                },
                error: function(data){
                
                },
                complete: function (data) { 
                    table.ajax.reload();
                }
            });
        });

        $('#optionCancle').click(function () {
            $('#CreateSupplier').modal('hide');
            table.ajax.reload();
        });

        $('#btnCancle').click(function () {
            $('#CreateSupplier').modal('hide');
            ResetItem();
            table.ajax.reload();
        });
               
    });

    function GetsupplierID(e) {
        console.log($(e).attr('id'));
        SupID = $(e).attr('id');
        $('#createoption').removeClass('was-validated');
        $('#txtType').val('Edit');
        $('#OptionModelLabel').text('Edit Supplier');
        $('#CreateSupplier').modal('show');
        var url = '/api/Master/supplier/byid?Supplierid=' + $(e).attr('id');

        $.getJSON(url, function (data) {
            var supplier = data['data'];
            console.log(supplier);
            $('#txtname').val(supplier.supplierName);
            $('#txtAddress').val(supplier.address);
            $('#txtphone').val(supplier.phone);
        });
    }

    function GetSupplierDelete(e) {
        console.log($(e).attr('id'));
        $('#txtType').val('Delete');
        $('#DeleteModelLabel').text('Delete Supplier');

        var url = '/api/Master/supplier/byid?Supplierid=' + $(e).attr('id');

        $.getJSON(url, function (data) {
            var supplier = data["data"];
            console.log(supplier);
            $('#deletesupplier').val(supplier.supplierId);
            $('#lblsupplierId').text(supplier.supplierId);
            $('#lblname').text(supplier.supplierName);
            $('#lbladdress').text(supplier.address);
            $('#lblphone').text(supplier.phone);
            $('#lblDate').text(supplier.updateDate);
        });
        $('#DeleteSupplierModal').modal('show');
    }

    function ResetItem() {
        $('#txtname').val('');
        $('#txtAddress').val('');
        $('#txtphone').val('');
    }
</script>

