@page
@model POS.Areas.Master.Pages.Supplier.IndexModel
@{
    
}
@section Styles {
    <link href="~/datatables.net-bs4/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/datatables.net-select-bs4/select.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/datatables.net-buttons-bs4/buttons.bootstrap4.min.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-body">
        <div class="col-xl-6 col-lg-6 mb-lg-2 mb-2">
            <button id="btnCreate" type="button" class="btn btn-light">Create</button>
            <button id="btnExcel" type="button" class="btn btn-success">Excel</button>
        </div>
        <table id="Mytable" class="table table-responsive nowrap w-100" cellspacing="0">
            <thead class="text-left bg-light">
                <tr>
                    <th></th>
                    <th>
                        SupplierID
                    </th>
                    <th>
                        SupplierName
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        UpdateDate
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<partial name="PartialScript" />

<!--Modal-->
<partial name="CreateSupplierModel" />
<partial name="_DeleteSupplierModal" />

<!--validation-->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

<!-- Datatables -->
<script src="~/datatables.net/datatables.min.js"></script>
<script src="~/datatables.net-bs4/datatables.bootstrap4.min.js"></script>
<script src="~/datatables.net-select/datatables.select.min.js"></script>
<script src="~/datatables.net-select-bs4/select.bootstrap4.min.js"></script>

<!--Button-->
<script src="~/datatables.net-buttons/js/datatables.buttons.min.js"></script>
<script src="~/datatables.net-buttons-bs4/buttons.bootstrap4.min.js"></script>
<script src="~/jszip/jszip.min.js"></script>
<script src="~/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/datatables.net-buttons/js/buttons.colvis.min.js"></script>

@* <script src="~/datatables.net-buttons/js/datatables.buttons.min.js"></script>
<script src="~/datatables.net-buttons-bs4/buttons.bootstrap4.min.js"></script>
<script src="~/jszip/jszip.js"></script>
<script src="~/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/datatables.net-buttons/js/buttons.colvis.min.js"></script> *@



<script>
    var SupID;
    $(function () {
        var table = $('#Mytable').DataTable({
            ajax: '/api/Master/Data',
            scrollY: '500px',
            scrollX: true,
            scrollCollapse: true,
            dom: '<"top"f>rt<"bottom"lip><"clear">',
            buttons: [{
                extend: "excelHtml5",
                className: "btn-success",
                exportOptions: {
                    orthogonal: "myExport", columns: [ 2, 3, 4,5 ]
                }
            }],
            columns: [
                {
                    defaultContent: '',
                    width: "2.5%",
                    render: function () {
                        return '<input type="checkbox" class="form-check-input" style="margin-inline:25%">'
                    },
                    ordering: false,
                    orderable: false,
                },
                { data: 'supplierId' },
                { data: 'supplierName' },
                { data: 'address' },
                { data: 'phone' },
                {
                    data: 'updateDate',
                    render: function (data) {
                        return data;
                    }
                },
                {
                    data: null,
                    render: function (row, type, data) {
                        return '<button type="button" class="btn btn-sm btn-outline-warning" id="' + row.supplierId + '" onclick="GetsupplierID(this)">Edit</button> |   ' +
                            '<button type="button" class="btn btn-sm btn-outline-danger" id="' + row.supplierId + '" onclick="GetSupplierDelete(this)"></i>Delete</button>';
                    }
                }

            ],
            'select': {
                'style': 'os',

            },

        });

        table.on('click', 'tr td:not(:nth-child(1))', function () {
            console.log(table.row(this).data()["supplierId"]);
        });

        table.on('select', function (e, dt, type, indexes) {
            $('input[type="checkbox"]', table.rows().nodes()).prop('checked', false);
            if (type === 'row') { $('input[type="checkbox"]', table.rows(indexes).nodes()).prop('checked', true); }
        });

        table.on('deselect', function (e, dt, type, indexes) {
            $('input[type="checkbox"]', table.rows(indexes).nodes()).prop('checked', false);
        });

        $('#btnCreate').click(function () {
            $('#createoption').removeClass('was-validated');
            $('#txtType').val('Create');
            $('#OptionModelLabel').text('Create New Supplier');
            $('#CreateSupplier').modal('show');
            $('#ErrorMessage').hide();
            ResetItem();
        });

        $('#btnSubmit').click(function () {
            var SupplierId = $("#txtSupplierId").val()
            var SupplierName = $('#txtname').val();
            var Address = $('#txtAddress').val();
            var Phone = $('#txtphone').val();
            if ($('#txtType').val() == "Create") {
                var data = {
                    SupplierId: '0',
                    SupplierName: SupplierName,
                    Address: Address,
                    Phone: Phone
                };

                if (SupplierName !== '' && Address !== '' && Phone !== '') {
                    $.ajax({
                        type: 'GET',
                        url: '/api/Master/supplier/phone',
                        data: { Phone: Phone },
                        success: function (response) {

                            if (response.exists) {
                                $('#ErrorMessage').fadeIn();
                                $('#txtphone').focus();
                            }
                            else {
                                $.ajax({
                                    type: 'POST',
                                    url: '/api/Master/create',
                                    dataType: 'Json',
                                    data: data,
                                    success: function (data) {
                                        $('#CreateSupplier').modal('hide');
                                        ResetItem();
                                        table.ajax.reload();
                                    },
                                    complete: function (data) {

                                    },
                                    error: function () {

                                    }
                                });
                            }
                        },

                    });
                }
                else {
                    $('#createoption').addClass('was-validated');
                }
            }
            else {
                var data = {
                    SupplierId: SupID,
                    SupplierName: SupplierName,
                    Address: Address,
                    Phone: Phone,
                };
                if (SupplierName !== '' && Address !== '' && Phone !== '') {
                    $.ajax({
                        type: 'GET',
                        url: '/api/Master/supplier/phone',
                        data: { Phone: Phone },
                        success: function (response) {
                            if (response.exists) {
                                $('#ErrorMessage').fadeIn();

                                $('#txtphone').focus();
                            }
                            else {
                                $.ajax({
                                    type: 'PUT',
                                    url: '/api/Master/supplier/edit',
                                    dataType: 'json',
                                    data: data,
                                    success: function (data) {
                                        $('#CreateSupplier').modal('hide');
                                        ResetItem();
                                        table.ajax.reload();
                                    },
                                    error: function () {

                                    },
                                    complete: function (data) {
                                        table.ajax.reload();
                                    }
                                });
                            }
                        }
                    });
                }
                else {
                    $('#createoption').addClass('was-validated');
                }
            }
        });

        $('#txtphone').change(function () {
            var phone = $(this).val();
            var errorMessage = $('#ErrorMessage');
            errorMessage.hide();
            $.ajax({
                type: 'GET',
                url: '/api/Master/supplier/phone',
                dataType: 'json',
                data: { Phone: phone },
                success: function (response) {
                    if (response.exists) {
                        errorMessage.fadeIn();
                    } else {
                        errorMessage.hide();
                    }
                },
                error: function () {

                }
            });
        });

        $('#btnDeleteConfirm').click(function () {
            $('#DeleteSupplierModal').modal('hide');
            var id = $('#deletesupplier').val();
            console.log(id);
            $.ajax({
                url: '/api/Master/supplier/delete?supplierID=' + id,
                type: 'DELETE',
                dataType: 'Json',
                success: function (data) {
                    $('#DeleteSupplierModal').modal('hide');
                    table.ajax.reload();
                },
                error: function (data) {

                },
                complete: function (data) {
                    table.ajax.reload();
                }
            });
        });

        $('#optionCancle').click(function () {
            $('#CreateSupplier').modal('hide');
            table.ajax.reload();
        });

        $('#btnCancle').click(function () {
            $('#CreateSupplier').modal('hide');

            ResetItem();
            table.ajax.reload();
        });

        $('#btnExcel').click(function () {
            table.buttons('.buttons-excel').trigger();            
        });

        $('#DeleteoptionCancle').click(function () {
            $('#DeleteSupplierModal').modal('hide');
            table.ajax.reload();
        });

        $('#btnDeleteCancel').click(function () {
            $('#DeleteSupplierModal').modal('hide');
            ResetItem();
            table.ajax.reload();
        });
    });

    function GetsupplierID(e) {
        console.log($(e).attr('id'));
        SupID = $(e).attr('id');
        $('#createoption').removeClass('was-validated');
        $('#txtType').val('Edit');
        $('#OptionModelLabel').text('Edit Supplier');
        $('#CreateSupplier').modal('show');
        $('#ErrorMessage').hide();
        var url = '/api/Master/supplier/by-id?Supplierid=' + $(e).attr('id');

        $.getJSON(url, function (data) {
            var supplier = data['data'];
            console.log(supplier);
            $('#txtname').val(supplier.supplierName);
            $('#txtAddress').val(supplier.address);
            $('#txtphone').val(supplier.phone);
        });
    }

    function GetSupplierDelete(e) {
        console.log($(e).attr('id'));
        $('#txtType').val('Delete');
        $('#DeleteModelLabel').text('Delete Supplier');

        var url = '/api/Master/supplier/by-id?Supplierid=' + $(e).attr('id');

        $.getJSON(url, function (data) {
            var supplier = data["data"];
            console.log(supplier);
            $('#deletesupplier').val(supplier.supplierId);
            $('#lblsupplierId').text(supplier.supplierId);
            $('#lblname').text(supplier.supplierName);
            $('#lbladdress').text(supplier.address);
            $('#lblphone').text(supplier.phone);
            $('#lblDate').text(supplier.updateDate);
        });
        $('#DeleteSupplierModal').modal('show');
    }

    function ResetItem() {
        $('#txtname').val('');
        $('#txtAddress').val('');
        $('#txtphone').val('');
    }
</script>
@* <script type="module">
    import { getHelloWorldAlert } from '../../js/my-script-ng.js';

    getHelloWorldAlert();
</script> *@
